<style>
  *{
    margin:o;
    padding: o;
}
#navbar{
    display:flex;
    align-items: center;
    position: relative;
}
#logo{
    margin:10px 34px;

}
#navbar ul{
    display:flex;
}
#navbar::before{
    content: "";
    background-color: rgb(232, 247, 23);
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul list{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul list a{
    color: white;
    display: block;
    padding :3px 12px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul list a:hover{
    color:black;
    background-color: white;
}

#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height: 280px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background : url('img.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left:0;

    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;



}
#home h1{
    color: white;
    text-align: center;
    height: 55px;
    margin: 0;
    padding: 0;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 20px;

    
}
#services{
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 5px;
    background-color: turquoise;
}
.container{
    margin:2px;

    padding: 25px 15px;
    border-radius: 20px;
    
    background-color: burlywood;
    

}

#contact{
    position: relative;
    background-color: rgb(241, 37, 10);
}
#contact::before{
    content:"";
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background: black;
    color: white;
    padding:9px 20px;
}

.h-primary{
    font-size: 2.1rem;
    padding: 8px;
}

.h-secondary{
    font-size: 2.1rem;
    padding:8px;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: rgb(121, 26, 184);
    color: whitesmoke;
    margin:12px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
</style>


<nav id="navbar">
  <div id="logo">
      <img src="logo.pg">
  </div>
  <ul>
      <li class="item"><a href="#">home</a></li>
      <br>
      <li class="item"><a href="#">about us</a></li>
      <br>
      <li class="item"><a href="#">services</a></li>
      <br>
      <li class="item"><a href="#">contact us</a></li>
      
  </ul>
</nav>
<section id="home">
  <h1 class="h-primary">welcome to my online meal</h1>
  
  <button class="btn">ORDER NOW</button>

</section>
<section class="h-secondary center">
  <h1 class="cards">our services</h1>
  <div id="services">
      <div class="container">
          <img src="logo1.jpg" alt="">
          <h2 class="cards">FOOD ORDDERING</h2>
          <p class="center"> Our website allows customers to choose and pay for food, then<br> alerts the kitchen when an order is made. This happens without contact between staff and customers. </p>
      </div>
      <div class="container">
          <img src="logo2.jpg" alt="">
          <h2 class="cards">FOOD DELIVERY</h2>
          <p class="center"> Your order will be delivered to your doorstep with minimal charges as fast a spossible. </p>
      </div>
      <div class="container">
          <img src="logo3.jpg" alt="">
          <h2 class="cards">FOOD MEAL</h2>
          <p class="center">We introduce a multifaceted food service company. We pride ourselves in<br> creating fresh,delicious and authentic dishes from scratch,and doing it well.<br> we bring our values of sustainability, community and local economic development to all our endeavours.</p>
      </div>
  </div>
  <section id="contact">
      <h1 class = "h-primary center">Contact us</h1>
      <div id="contact-box">
          <form action="">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" id="name" placeholder="Enter your name">

              </div>
              <div class="form-group">
                  <label for="name">E-mail:</label>
                  <input type="text" name="E-mail" id="name" placeholder="Enter your E-mail address">
                  </div>
                  <div class="form-group">
                      <label for="name">Phone number:</label>
                      <input type="text" name="phone number" id="name" placeholder="Enter your phone number">
                  </div>
                  <div class="form-group">
                      <label for="name">Views</label>
                      <input type="text" name="msg" id="name" placeholder="Enter your review">
                  </div>
          </form>
      </div>
  </section>
</section>
<footer>
  <div class="center">
      WELCOME TO OUR ONE STOP SHOPPING MART
  </div>
</footer><router-outlet></router-outlet>
